@model List<ecommerce_temp.Models.Cart.CartItemViewModel>

<div class="infinite-scroll-component">
    @foreach (var item in Model)
    {
        <div class="Seller">
            <div class="List-Intended">
                <div class="Row">
                    <div class="Item-Info">
                        <label class="checkbox">
                            <input type="checkbox" name="cb" />
                        </label>
                        <a href="#">
                            <img src="@Url.Content(item.ImageUrl)" width="80" height="60">
                        </a>
                        <div class="Item-Content">
                            <a href="">@item.ProductName</a>
                        </div>
                    </div>
                    <div class="Item-Price">
                        <div type="normal" class="Price">@item.Price <sup>đ</sup></div>
                    </div>
                    <div class="Item-Quantity">
                        <div class="Quantity">
                            <button class="Substract" onclick="Decre(@item.CartItemId, @item.Price)">-</button>
                            <input id="product-@item.CartItemId" class="base-stats" type="number" name="quantity" value="@item.Quantity" readonly />
                            <button class="Add" onclick="Incre(@item.CartItemId, @item.Price)">+</button>
                        </div>
                    </div>
                    <div id="itemTotal-@item.CartItemId" class="Item-Subtotal">
                        @item.Price <sup>đ</sup>
                    </div>
                    <div class="Item-Action">
                        <form asp-action="Delete" asp-controller="Cart">
                            <input type="hidden" name="id" value="@item.CartItemId" />
                            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" alt="deleted" class="delete-button" style="cursor: pointer;" onclick="submitDeleteForm(this)">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
