@model ecommerce_temp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="/css/ProductDetail.css" asp-append-version="true">
</head>

<div class="page-content">
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <section class="landing-page-section">
        <div class="top">
            <h2 class="Product-Name">
                @Model.Name
            </h2>
        </div>
        <div class="divider"></div>
        <div></div>
        <div class="detail-content">
            <div class="pricing-card">
                <img src="@Url.Content(@Model.ImageUrl)" alt="">
                <div class="divider"></div>
                <ul>
                    <li>
                        content
                    </li>
                    <li>
                        @Model.Description
                    </li>
                </ul>
            </div>
            <div class="pricing-card pricing-card--primary">
                <div class="pricing-card__price">
                    @Model.Price
                </div>
                <div class="divider"></div>
                <div class="group-button">
                    <ul>
                        <li>
                            <a class="enroll" title="Enroll Now" href="">
                                Buy
                            </a>
                        </li>
                        <li>
                            <a class="enroll" title="Enroll Now" href="">
                                Add to Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
@* <h1>Details</h1>

<div>
<h4>Product</h4>
<hr />
<dl class="row">
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Name)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Name)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Description)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Description)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.ImageUrl)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.ImageUrl)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Price)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Price)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Quantity)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Quantity)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.CategoryId)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.CategoryId)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Vote)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Vote)
</dd>
</dl>
</div>
<div>
<a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
<a asp-action="Index">Back to List</a>
</div> *@
